/*body {
	padding-top:60px;
	font-family: 'Open Sans', sans-serif;
}*/

/*All pages*/
.row {
	margin-top:70px;
}


/*Home page */
.form-error {
	position:absolute;
	top:9%
	left:14%;
	padding:1%;
	background:white;
	font-size:1.5em;
}

body.index {
	background: url("../img/mexican.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.index .main-content {
	color:white;
	width:80%;
	margin:14% auto 0%;
	background:rgba(68, 63, 63, 0.97);
	padding:1% 4%;
	border:4px double white;
	font-family:'Poiret One';
}
.index .main-content h1{
	color:rgb(213, 213, 146);
	font-size:5em;
}
.index .main-content p {
	font-size:2em;
}
.login-btn {
	background:rgb(150, 55, 55);
	font-family:'Open Sans', sans-serif;
}

/* Welcome page */


/* Recommendations page */
.content-container {
		background-color:rgba(239, 239, 239, 0.98);
		padding:1.7%;
		margin-top:49px;
	}

/* Restaurant results page */

tr.clickable-row {
	  cursor: pointer;
	}

.grayed-out {
	background:gray;
	border:gray;
}

.navbar.navbar-default.navbar-fixed-top {
	background:rgba(68, 63, 63, 0.95);
	border: rgb(90, 85, 85);
}

.navbar-default .navbar-brand {
	color:rgb(213, 213, 146);
	font-size: 34px;
}

ul.nav.navbar-nav.navbar-right li {
	font-family: 'Poiret One';
	font-size:16px;
}

.navbar-default .navbar-nav>li>a {
	color:white;
}

.navbar-default .navbar-nav>li>a:hover {
	color:rgb(213, 213, 146);
}

label {
	color:white;
	display:inline;
	margin-bottom:0px;
	font-weight:200;
	font-family:'Open Sans', sans-serif;
	font-size:0.9em;
}

a.navbar-brand {
	font-family:'Poiret One';
}
.navbar-default .navbar-brand:hover {
	/*color:rgb(211, 128, 72);*/
	color:rgb(200, 74, 74);
}

.flashes {
	background:rgb(187, 187, 148);
	padding:1%;
	margin:80px auto;
	font-size:1.2em;
	border:2px solid black;
}

button.submit-query {
		background:rgb(150, 55, 55);
		border:none;
		text-shadow:none;
		color:white;
		font-style:normal;
		font-family:'Open Sans', sans-serif;
	}
button.submit-query:hover {
		background:rgb(187, 66, 66);
		color:white;
	}
input.form-control {
	margin-left:6px;
}

/* Maps page */

.container { 
	height:100% 
}

.map-container {
	background-color:rgba(255, 255, 255,.9);
	padding:0% 1%;
	margin-top:49px;
}

#map-canvas {
    height: 550px;
    margin: 0px;
    padding: 0px
}

#map-container {
	width:100%;
	height:100%;
}

#map-div {
	padding-left:0px;
	padding-right:8px;
}

.bookmark-container{
	background-color:rgb(234, 235, 236)
}

#list { 
	width:100%; 
	list-style:none; 
	padding:0; 
	max-height:480px; 
	overflow-y:auto;
} 

#list li { 
	padding:1% 3%;
	border-bottom:1px dotted black;
} 

#list li:hover { 
	background:#D3DDBB; 
	color:black; 
	cursor:pointer; 
	cursor:hand; 
}

h4.rest-title {
	background-color: rgba(234, 235, 236, 1);
	padding:4%;
	color:rgb(67, 63, 64);
	font-size: 1.4em;
	margin-left: -11px;
	border-bottom: 1px solid black;
	font-family: sans-serif;
}

h4 {
	font-family:'Poiret One';
	text-align:center;
	color:rgb(150, 54, 54);
}
.recommender {
	font-size:13px;
	font-weight:bold;
}
button.btn.btn-sm.delete-bookmark {
	background:rgb(150, 55, 55);
	color:white;
}