<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="../static/css/style.css">
        {% block head %}{% endblock %}
    </head>
    
    <body>
        <nav class="navbar navbar-default navbar-fixed-top " role="navigation">
            <div class="container">
                <div class="navbar-header"><a class="navbar-brand" href="/welcome">bite</a>
                 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                  </button>
            </div>

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li style="display:none">
                            <form class="navbar-form navbar-left search-bar" role="search" form action="/restaurant-results" method="GET" id="add-rest">
                            <div class="form-group">
                            <label>Search:<input type="text" name="search-restaurant" class="form-control" placeholder="Ex. Limon Rotisserie">
                            <label>Near:<input type="text" name="search-location" class="form-control" placeholder="Ex. San Francisco, CA">
                            </div>
                            <button type="submit" class="btn submit-query">Submit</button>
                            </form>
                        </li>
                        <li><a class="search-link">Search</a></li>
                        <li><a href="/recommendations">Recommendations</a></li>
                        <li><a href="/map">Map</a></li>
                        <li><a href="/logout">Log Out</a></li>                       
                    </ul>
                </div>
            </div>    
        </nav>

        <div class="container">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="flashes">
                            {{message}}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            
            {% block content %}{% endblock %}
        </div>
         <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script src="../static/js/search-bar.js"></script>

        {% block js_code %}{% endblock %}
    </body>
</html>