<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/css/style.css" />
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        {% block head %}{% endblock %}
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header"><a class="navbar-brand" href="/">Restaurant Mapper</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><form class="navbar-form navbar-left" role="search" form action="/restaurant-results" method="GET" id="add-rest">
                            <div class="form-group">
                                  <label>Search: <input type="text" name="search-restaurant" placeholder="Ex. Limon Rotisserie, Seafood"></label>
                                  <label>Near: <input type="text" name="search-location" placeholder="San Francisco, CA"></label>
                            </div>
                            <button type="submit" class="btn btn-default" id="submit-query">Submit</button>
                            </form>
                        </li>
                        <li><a href="/map">My Map</a></li>
                        <li><a href="/logout">Log Out</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <ul class="flashes">
                            <li>{{message}}</li>
                        </ul>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            
            {% block content %}{% endblock %}
        </div>
         <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        {% block js_code %}{% endblock %}
    </body>
</html>