{% extends 'base.html' %}

{% block head %}
	<style>
	#welcome{
		text-align:center;
	}
	.welcome-label {
		color:black;
	}
	.hidden-form {
		display:none;
	}
	.welcome-btn {
		color:white;
		background:rgb(31, 69, 125);
	}
	.welcome-btn:hover {
		color:white;
		background:rgb(49, 106, 190);
	}
	</style>
{% endblock %}

{% block content %}

	<div class="row">
		<h3 id="welcome"> Welcome {{username}}! </h3>

		<div class="col-md-4">
			{% if recommendations %} 
				<a href="/recommendations"><button class="btn welcome-btn">View Recommendations</button></a>
			{% else %}
				<div></div>
			{% endif %}
		</div>

		<div class="col-md-4">
			<button class="btn welcome-btn" id="pop-up-search">Search for a Restaurant</button>

			 <form class="navbar-form navbar-left hidden-form" role="search" form action="/restaurant-results" method="GET" id="add-rest">
				<div class="form-group">
					<label class="welcome-label">Search:<input type="text" name="search-restaurant" class="form-control" placeholder="Ex. Limon Rotisserie">
					<p><label class="welcome-label">Near:<input type="text" name="search-location" class="form-control" placeholder="Ex. San Francisco, CA"></p>
					<button type="submit" class="btn btn-default" id="submit-query">Submit</button>
				</div>
			</form>
		</div>
		
		<div class="col-md-4">
			<a href="/map"><button class="btn welcome-btn">View Saved Restaurants</button></a>
		</div>
	</div>
{% endblock %}

{% block js_code %}
	<script>
		$("#pop-up-search").click(function(){
			$('.hidden-form').toggle()
			// console.log("this")
		})
	</script>
{% endblock %}