{% extends 'base.html' %}

{% block content %}

	{% if recommendations %}
		<h3> Welcome {{username}}! </h3>
		<p>You have pending recommendations. Please approve/deny them.</p>

		<div class="alert alert-success" role="alert" hidden="true"></div>
		<table class="table table-striped table-hover">
			<thead>
				<th>Restaurant</th>
				<th>Approve</th>
				<th>Deny</th>
			</thead>
			<tbody>
				{% for id, rec in recommendations.iteritems() %}
					<tr data-restid="{{rec.rest_id}}">
						<td><b>{{rec.recommender_username}}</b> recommended <b>{{rec.rest_name}}</b>, a {{rec.rest_cuisine |lower}} restaurant located at {{rec.rest_address}} in {{rec.rest_city}}.</b>
							<p><a href="{{rec.rest_url}}">{{rec.rest_url}}</a></p>
						</td>
						<td><button type="button" class="btn btn-success add-recommendation">
							<span class="glyphicon glyphicon-ok"></button>
						</td>
						<td><button type="button" class="btn btn-danger deny-recommendation">
							<span class="glyphicon glyphicon-remove"></button>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	{% else %}
	<p>You have no pending recommendations. Recommend a restaurant to a friend!</p>
	{% endif %}

{% endblock %}

{% block js_code %}
<script>
	$('.add-recommendation').click(function(){
		var $row = $(this).closest("tr");

		var restData = {
			"restId": $row.data('restid')
		}

		function showMessage(response) {
			$(".alert").html(response.message).show().fadeToggle(3200);
			//change class of button to show it has been accepted 
		}

		$.get("/accept-recommendation", restData, showMessage);
	});

	$('.deny-recommendation').click(function(){
		var $row = $(this).closest("tr");

		var restData = {
			"restId": $row.data('restid')
		}

		function showMessage(response) {
			$(".alert").html(response.message).show().fadeToggle(3200);
			//change class of button to show it has been denied 
		}

		$.get("/deny-recommendation", restData, showMessage);
	})

</script>
{% endblock %}

