{% extends 'base.html' %}

	{% block content %}
		<h2>Your Bookmarked Restaurants</h2>
		<table class="table table-striped table-hover">
			<thead>
		        <th>Restaurant</th>
		        <th>Cuisine</th>
		        <th>Address</th>
		        <th>City </th>
		        <th>State</th>
		        <th>Phone</th>
		        <th>Website</th>
		        <th>Options</th>
		    </thead>
		    <tbody>
		    	{% for item in restaurant_data %}
		    	<tr data-bookmarkid="{{item[0]}}">
		    		<td>{{item[3]}}</td>
		    		<td>{{item[4]}}</td>
		    		<td>{{item[5]}}</td>
		    		<td>{{item[6]}}</td>
		    		<td>{{item[7]}}</td>
		    		<td>{{item[8]}}</td>
		    		<td><a href="{{item[9]}}">Website</a></td>
		    		<td><button class="delete-bookmark">Delete Bookmark</button></td>
		    	</tr>
		    	{% endfor %}
		    </tbody>
		</table>
		<div class="flash-notice"></div> 
	{% endblock %}

	{% block js_code %}
	<script>
		$('.delete-bookmark').click(function(){
			var $row = $(this).closest("tr");
			var bookmarkId = $row.data('bookmarkid')
			// alert(bookmarkId);

			//data to be sent along with GET request
			var bookmarkData = {
				"bookmarkId": bookmarkId, 
			}
			
			//callback function to be run after get response back from GET request
			function showDeleteMessage(response) {
				window.location.reload(true)
				// $(".flash-notice").html(response.message).show().fadeToggle(6000);
			}

			$.get("/delete-bookmark", bookmarkData, showDeleteMessage);
		});	

	</script>
	{% endblock %}
