{% extends 'base.html' %}

{% block head %}
	<style>
		html { height:100% }
		body { height: 100%; margin:0; padding:0 }
		.container { height:100% }
		#map-canvas {
	        height: 500px;
	        margin: 0px;
	        padding: 0px
      	}
    </style>
    <!-- Google Maps API -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
{% endblock %}

{% block content %}
	<div id="map-canvas"></div>
{% endblock %}

{% block js_code %}
<script>
		//initialize the map
		function initialize() {
			var map;
			var myLatLng = new google.maps.LatLng(37.788708799999995,-122.41170040000003)
			var contentString = '<div id="content">'+ '<h2>Hackbright</h2>'+'</div>';

			//var mapOptions defines the properties for the map
			var mapOptions = {
				zoom: 13,
				center: myLatLng
			};

			//create a map object w/parameters from mapOptions
			map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

			//create a marker for user's current location 
			var marker=new google.maps.Marker({
	  			position:myLatLng,
	  			title: "My title"
	  		});
			//add the marker to the map by using setMap() method
			marker.setMap(map);

			//add info window object
			 var infowindow = new google.maps.InfoWindow({
      			content: contentString
 			 });

 			//add event listener to marker 
 			google.maps.event.addListener(marker, 'click', function() {
    			infowindow.open(map,marker);
  			});

			$.getJSON("/map-bookmarks", function(response){
				var json = response;
				//loop through each of the json elements, get their lat + lng & create a marker for these
				$.each(json, function(key, data){
					var lat = data.lat
					var lng = data.lng 
					var myLatLng = new google.maps.LatLng(lat, lng);

					var name = data.name
					var cuisine = data.cuisine
					var restcontent = '<div id="content">'
					+'<h3>' + name + '</h3>'
					+ '<p>'+ cuisine +'</p>'
					+'</div>'
					
					var marker = new google.maps.Marker({
						position: myLatLng,
						map: map
					}); //end of getJSON 
					marker.setMap(map);

					var infowindow = new google.maps.InfoWindow({
      				content: restcontent
 			 		});
 			 		
 			 		//add event listener to marker 
 					google.maps.event.addListener(marker, 'click', function() {
    					infowindow.open(map,marker);
  					});

				}); //end of $.each method
			});
		} //end initialize function
		
		//event listener to load the map when page is loaded
		google.maps.event.addDomListener(window, 'load', initialize);
    </script>

{% endblock %}
