{% extends 'base.html' %}

{% block head %}
<style>
	body {
		 background: url("../static/img/sushi.jpg") no-repeat center center fixed; 
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;
		  background-position-y: 15%;
	}
	.content-container {
		background-color:rgba(255, 255, 255,.9);
		padding:1.5%;
		margin-top:70px;
	}
</style>
{% endblock %}


{% block content %}
<div class="content-container">
	{% if recommendations %}
		<div>
			<h3> Hi {{username}}! </h3>
			<p>You have pending recommendations. Please approve each to add it to your bookmarks map, or pass to decline it.</p>
			<div class="alert" role="alert" hidden="true"></div>
			<table class="table table-striped table-hover">
				<thead>
					<th>Restaurant</th>
					<th>Accept</th>
					<th>Pass</th>
				</thead>
				<tbody>
					{% for id, rec in recommendations.iteritems() %}
						<tr data-restid="{{rec.rest_id}}">
							<td><b>{{rec.recommender_username}}</b> recommended <b>{{rec.rest_name}}</b>, a {{rec.rest_cuisine |lower}} restaurant located at {{rec.rest_address}} in {{rec.rest_city}}.</b>
								<p><a href="{{rec.rest_url}}">{{rec.rest_url}}</a></p>
							</td>
							<td><button type="button" class="btn btn-success add-recommendation">
								<span class="glyphicon glyphicon-ok"></button>
							</td>
							<td><button type="button" class="btn btn-danger deny-recommendation">
								<span class="glyphicon glyphicon-remove"></button>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	{% else %}
	<p>Hi {{username}}! You have no pending recommendations. Recommend a restaurant to a friend!</p>
	{% endif %}
</div>
{% endblock %}

{% block js_code %}
<script>
	$('.add-recommendation').click(function(){
		var rowOfButton = $(this).closest("tr");

		var restData = {
			"restId": rowOfButton.data('restid')
		}

		function deleteRow(response) {
			$(rowOfButton).remove();
		}

		$.get("/accept-recommendation", restData, deleteRow);
	});


	$('.deny-recommendation').click(function(){
		var rowOfButton = $(this).closest("tr");
		
		var restData = {
			"restId": rowOfButton.data('restid')
		}

		function deleteRow(response) {;
			$(rowOfButton).remove();
		}

		$.get("/deny-recommendation", restData, deleteRow);
	});

</script>
{% endblock %}

