{% extends 'base.html' %}

{% block head %}
<style>
	body {
		 background: url("../static/img/sushi.jpg") no-repeat center center fixed; 
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;
		  background-position-y: 15%;
	}
	.content-container {
		background-color:rgba(255, 255, 255,.9);
		padding:1.5%;
	}
</style>
{% endblock %}

{% block navbar %}
     <li>
            <form class="navbar-form navbar-left" role="search" form action="/restaurant-results" method="GET" id="add-rest">
              <div class="form-group">
                <label>Search:<input type="text" name="search-restaurant" class="form-control" placeholder="Ex. Limon Rotisserie">
                <label>Near:<input type="text" name="search-location" class="form-control" placeholder="Ex. San Francisco, CA">
              </div>
              <button type="submit" class="btn btn-default" id="submit-query">Submit</button>
            </form>
        </li>
        <li><a href="/recommendations">Recommendations</a></li>
        <li><a href="/map">Bookmarks</a></li>
        <li><a href="/logout">Log Out</a></li>
{% endblock %}

{% block content %}

<div class="content-container">
	{% if recommendations %}
		<div>
			<h3> Hi {{username}}! </h3>
			<p>You have pending recommendations. Please approve each to add it to your bookmarks map, or pass to decline it.</p>
			<div class="alert" role="alert" hidden="true"></div>
			<table class="table table-striped table-hover">
				<thead>
					<th>Restaurant</th>
					<th>Accept</th>
					<th>Pass</th>
				</thead>
				<tbody>
					{% for id, rec in recommendations.iteritems() %}
						<tr data-restid="{{rec.rest_id}}">
							<td><b>{{rec.recommender_username}}</b> recommended <b>{{rec.rest_name}}</b>, a {{rec.rest_cuisine |lower}} restaurant located at {{rec.rest_address}} in {{rec.rest_city}}.</b>
								<p><a href="{{rec.rest_url}}">{{rec.rest_url}}</a></p>
							</td>
							<td><button type="button" class="btn btn-success add-recommendation">
								<span class="glyphicon glyphicon-ok"></button>
							</td>
							<td><button type="button" class="btn btn-danger deny-recommendation">
								<span class="glyphicon glyphicon-remove"></button>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	{% else %}
	<p>Hi {{username}}! You have no pending recommendations. Recommend a restaurant to a friend!</p>
	{% endif %}
</div>
{% endblock %}

{% block js_code %}
<script>
	$('.add-recommendation').click(function(){
		var rowOfButton = $(this).closest("tr");

		var restData = {
			"restId": rowOfButton.data('restid')
		}

		function deleteRow(response) {
			$(rowOfButton).remove();
		}

		$.get("/accept-recommendation", restData, deleteRow);
	});


	$('.deny-recommendation').click(function(){
		var rowOfButton = $(this).closest("tr");
		
		var restData = {
			"restId": rowOfButton.data('restid')
		}

		function deleteRow(response) {;
			$(rowOfButton).remove();
			//call checkRemovedRows() here;
		}

		// function checkRemovedRows(){
		// //check if all rows are removed
		// //if so, replace the html of that div
		// if $("tr").length == [0]:
		// }

		$.get("/deny-recommendation", restData, deleteRow);
	});

</script>
{% endblock %}

