{% extends 'base.html' %}

{% block head %}
	<style>
	body {
		 background: url("../static/img/mexican.jpg") no-repeat center center fixed; 
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;
	}
	.welcome{
		text-align:center;
	}
	.welcome-label {
		color:black;
	}
	.hidden-form {
		display:none;
	}
	.welcome-div {
		background:rgba(224, 221, 216, .9);
		width:60%;
		margin:10% auto;
		border:1px solid black;
		padding: 0px 0px 2% 0px;
		border-radius: 21px;
	}
	.welcome-btn {
		color:black;
		background:rgba(181, 175, 115, 0.9);
		padding:1.4%;
		margin-left:1%;
		margin-bottom:2%;
	}
	.welcome-btn:hover {
		color:white;
		background:rgba(113, 108, 60, 0.9);
	}
	.welcome-buttons {
		text-align:center;
	}
	.welcome-label {
		color:black;
		font-size:1.2em;
		font-style:italic;
	}
	</style>
{% endblock %}


  {% block navbar %}
        <li>
            <li><a href="/recommendations">Recommendations</a></li>
            <li><a href="/map">Map</a></li>
            <li><a href="/logout">Log Out</a></li>
        </li>
  {% endblock %}

{% block content %}

	<div class="row">
		<div class="col-md-12">
			<div class="welcome-div">
				<h3 class="welcome"> Welcome {{username}}! </h3>
				<div class="welcome-buttons">
					<button class="btn welcome-btn" id="pop-up-search">Search for a Restaurant</button>
					{% if recommendations %} 
						<a href="/recommendations"><button class="btn welcome-btn">View Recommendations</button></a>
					{% else %}
						<div></div>
					{% endif %}
					<a href="/map"><button class="btn welcome-btn">View Map of Bookmarks</button></a>
					<form class="form-inline hidden-form" role="search" form action="/restaurant-results" method="GET">
						<div class="form-group">
						<label class="welcome-label">Search:<input type="text" name="search-restaurant" class="form-control" placeholder="Ex. Limon Rotisserie">
						<label class="welcome-label">Near:<input type="text" name="search-location" class="form-control" placeholder="Ex. San Francisco, CA">
						<button type="submit" class="btn btn-default" id="submit-query">Submit</button>
					</form>
				</div>
				</div>
			</form>
			</div>
		</div>

{% endblock %}

{% block js_code %}
	<script>
		$("#pop-up-search").click(function(){
			$('.hidden-form').toggle()
			// console.log("this")
		})
	</script>
{% endblock %}